# Environment variables
.env

# CSV logs
maintenance_log.csv

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Logs
*.log
